<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shinhanez.admin.mapper.AdminMapper">
	<!-- sql fragment -->
	<sql id="searchCondition">
		<where>
		    <if test="searchParams.searchKeyword != null and searchParams.searchKeyword != ''">
		        AND (
		            <choose>
		                <!-- 전체 검색 -->
		                <when test="searchParams.searchType == 'allType'">
		                    ad.admin_name LIKE '%' || #{searchParams.searchKeyword} || '%'
		                    OR ad.department LIKE '%' || #{searchParams.searchKeyword} || '%'
		                </when>
		                <!-- 관리자 이름 -->
		                <when test="searchParams.searchType == 'adminName'">
		                    ad.admin_name LIKE '%' || #{searchParams.searchKeyword} || '%'
		                </when>
		                <!-- 부서 -->
		                <when test="searchParams.searchType == 'department'">
		                    ad.department LIKE '%' || #{searchParams.searchKeyword} || '%'
		                </when>
		            </choose>
		        )
		    </if>
		    <if test="searchParams.adminRole != null and searchParams.adminRole !=''">
		    	AND ad.admin_role = #{searchParams.adminRole}
		    </if>
		</where>
    </sql>
	<!-- 관리자 전체 목록 -->
	<select id="selectAllAdmins" resultType="com.shinhanez.admin.domain.Admins">		
		SELECT *
		FROM 
		    ( SELECT 
		        ROWNUM AS rn, 
		        a.* 
		    FROM 
		        ( SELECT 
		            ad.admin_idx, 
		            ad.admin_id, 
		            ad.admin_pw, 
		            ad.admin_role, 
		            ad.admin_name, 
		            ad.department, 
		            TO_CHAR(ad.last_login, 'YYYY-MM-DD HH24:MI:SS') as last_login
		        FROM shez_admins ad 
		        <include refid="searchCondition"/>
		        ORDER BY ad.admin_idx DESC ) a
		    WHERE ROWNUM <![CDATA[<=]]> #{endRow})
		WHERE rn <![CDATA[>=]]> #{startRow}
		
	</select>
	<!-- 관리자 수 -->
	<select id="countAllAdmins">
		SELECT COUNT(*) FROM shez_admins ad <include refid="searchCondition"/>
	</select>
	<!-- 관리자 단건 -->
	<select id="selectOneAdmin" resultType="com.shinhanez.admin.domain.Admins">
		SELECT * FROM shez_admins WHERE admin_idx = #{adminIdx}
	</select>
	
	<!-- 관리자 등록 -->
	<!-- admin -->
	<insert id="insertAdmin">
		INSERT INTO shez_admins(admin_idx,admin_id, admin_pw, admin_role, admin_name, department, last_login) 
		VALUES (seq_shezAdmins.NEXTVAL,#{adminId},#{adminPw},#{adminRole},#{adminName},#{department},TO_DATE('19900101','YYYYMMDD'))
	</insert>
	<!-- user -->
	<insert id="insertUser">
		INSERT INTO shez_user (id, pw, email, name, birth, telecom, gender, phone, nation, role)
		VALUES (#{adminId},#{adminPw},'admin@shinhanez.com',#{adminName}, 
		TO_DATE('19900101','YYYYMMDD'), 'SKT', 'M', '01012345678', 'K', 'ROLE_ADMIN')
	</insert>
	
	<!-- 관리자 수정 -->
	<!-- admin -->
	<update id="updateAdmin">
		UPDATE shez_admins SET admin_pw = #{adminPw}, admin_role = #{adminRole}, 
		admin_name = #{adminName}, department = #{department} WHERE admin_idx = #{adminIdx}
	</update>
	<!-- user -->
	<update id="updateUser">
		UPDATE shez_user SET pw = #{adminPw}, name =  #{adminName} WHERE id = #{adminId}
	</update>
	
	<!-- 관리자 삭제 -->
	<!-- admin -->
	<delete id="deleteAdmin">
		DELETE FROM shez_admins WHERE admin_idx = #{adminIdx}
	</delete>
	<!-- user -->
	<delete id="deleteUser">
		DELETE FROM shez_user WHERE id = #{adminId}
	</delete>
	<!-- 마지막 로그인 -->
	<update id="lastLogin">
		UPDATE shez_admins SET last_login = SYSDATE WHERE admin_idx = #{adminIdx}
	</update>
	<!-- 아이디로 관리자 정보 가져오기 -->
	<select id="selectOneAdminById" resultType="com.shinhanez.admin.domain.Admins">
		SELECT * FROM shez_admins WHERE admin_id = #{adminId}
	</select>
</mapper>