<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shinhanez.admin.mapper.AdminMapper">
	<select id="selectAllAdmins" resultType="com.shinhanez.admin.domain.Admins">
		<![CDATA[
		SELECT *
		FROM 
		    ( SELECT 
		        ROWNUM AS rn, 
		        a.* 
		    FROM 
		        ( SELECT 
		            ad.admin_idx, 
		            ad.admin_id, 
		            ad.admin_pw, 
		            ad.admin_role, 
		            ad.admin_name, 
		            ad.department, 
		            ad.last_login 
		        FROM shez_admins ad 
		        ORDER BY ad.admin_idx DESC ) a
		    WHERE ROWNUM <= #{endRow})
		WHERE rn >= #{startRow}
		]]>
	</select>
	<select id="countAllAdmins">
		SELECT COUNT(*) FROM shez_admins
	</select>
	<select id="selectOneAdmin" resultType="com.shinhanez.admin.domain.Admins">
		SELECT * FROM shez_admins WHERE admin_idx = #{adminIdx}
	</select>
	<insert id="insertAdmin">
		INSERT INTO shez_admins(admin_idx,admin_id, admin_pw, admin_role, admin_name, department) 
		VALUES (seq_shezAdmins.NEXTVAL,#{adminId},#{adminPw},#{adminRole},#{adminName},#{department})
	</insert>
	<insert id="insertUser">
		INSERT INTO shez_user (id, pw, email, name, birth, telecom, gender, phone, nation, role)
		VALUES (#{adminId},#{adminPw},'admin@shinhanez.com',#{adminName}, 
		TO_DATE('19900101','YYYYMMDD'), 'SKT', 'M', '01012345678', 'K', 'ROLE_ADMIN')
	</insert>
	<update id="updateAdmin">
		UPDATE shez_admins SET admin_id = #{adminId}, admin_pw = #{adminPw}, admin_role = #{adminRole}, 
		admin_name = #{adminName}, department = #{department} WHERE admin_idx = #{adminIdx}
	</update>
	<delete id="deleteAdmin">
		DELETE FROM shez_admins WHERE admin_idx = #{adminIdx}
	</delete>
	<select id="selectOneAdminById" resultType="com.shinhanez.admin.domain.Admins">
		SELECT * FROM shez_admins WHERE admin_id = #{adminId}
	</select>
	<update id="lastLogin">
		UPDATE shez_admins SET last_login = SYSDATE WHERE admin_idx = #{adminIdx}
	</update>
</mapper>