<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhanez.admin.mapper.ContractMapper">
	<!-- 컬럼, 필드 매핑 -->
	<resultMap id="contractListMap" type="com.shinhanez.admin.domain.Contracts">
	    <id property="contractId" column="contract_id"/>
	    <result property="customerId" column="customer_id"/>
	    <result property="customerName" column="customer_name"/>
	    <result property="insuredId" column="insured_id"/>
	    <result property="insuredName" column="insured_name"/>
	    <result property="productId" column="product_id"/>
	    <result property="productName" column="product_name"/>
	    <result property="contractCoverage" column="contract_coverage"/>
	    <result property="regDate" column="reg_date"/>
	    <result property="expiredDate" column="expired_date"/>
	    <result property="premiumAmount" column="premium_amount"/>
	    <result property="paymentCycle" column="payment_cycle"/>
	    <result property="contractStatus" column="contract_status"/>
	    <result property="updateDate" column="update_date"/>
	    <result property="adminId" column="admin_id"/>
	    <result property="adminName" column="admin_name"/>
	</resultMap>
	
	<!-- 계약 목록 조회 -->
	<select id="selectAllContractList" resultMap="contractListMap">
		<![CDATA[
		SELECT 
		contract_id,
		customer_id,
		customer_name,
		insured_id,
		insured_name,
		product_id,
		product_name,
		reg_date,
		expired_date,
		contract_status,
		premium_amount,
		payment_cycle,
		update_date,
		admin_idx,
		admin_name
		FROM (
		SELECT 
		    c.contract_id,
		    c.customer_id,
		    cu.name AS customer_name,
		    c.insured_id,
		    ins.name AS insured_name,
		    c.product_id,
		    p.productname AS product_name,
		    c.reg_date,
		    c.expired_date,
		    c.contract_status,
		    c.premium_amount,
		    c.payment_cycle,
		    c.update_date,
		    c.admin_idx,
		    ad.admin_name AS admin_name,
		    ROW_NUMBER() OVER (ORDER BY c.reg_date DESC, c.contract_id DESC) AS rn
		FROM 
		    shez_contracts c
		    INNER JOIN shez_customers cu ON c.customer_id = cu.customer_id
		    INNER JOIN shez_customers ins ON c.insured_id = ins.customer_id
		    INNER JOIN shez_insurances p ON c.product_id = p.productno
		    INNER JOIN shez_admins ad ON c.admin_idx = ad.admin_idx
		)
		WHERE rn BETWEEN #{startRow} + 1 AND #{endRow}
		]]>
	</select>
	
	<!-- 계약 전체 건수 -->
	<select id="countAllContracts">
		SELECT COUNT(*) FROM 
			shez_contracts c
			INNER JOIN shez_customers cu ON c.customer_id = cu.customer_id
			INNER JOIN shez_insurances p ON c.product_id = p.productno
	</select>
	
	<!-- 계약 단건 조회 -->
	<select id="selectOneContract" resultMap="contractListMap">
		<![CDATA[
		SELECT 
		    *
		FROM (
		    SELECT 
		        c.contract_id,
		        c.customer_id,
		        cu.name AS customer_name,
		        c.insured_id,
		        ins.name AS insured_name,
		        c.product_id,
		        p.productname AS product_name,
		        c.contract_coverage,
		        c.reg_date,
		        c.expired_date,
		        c.premium_amount,
		        c.payment_cycle,
		        c.contract_status,
		        c.update_date,
		        c.admin_idx,
		        ad.admin_name AS admin_name
		    FROM 
		        shez_contracts c
		        INNER JOIN shez_customers cu ON c.customer_id = cu.customer_id
		        INNER JOIN shez_customers ins ON c.insured_id = ins.customer_id
		        INNER JOIN shez_insurances p ON c.product_id = p.productno
		        INNER JOIN shez_admins ad ON c.admin_idx = ad.admin_idx
		)
		WHERE contract_id = #{ctrId}
		]]>
	</select>
	
	<!-- 계약 등록 -->
	<insert id="insertContract">
		<selectKey keyProperty="contractId" order="BEFORE" resultType="int">
  	 		SELECT SEQ_SHEZCONTRACTS.nextval FROM dual
  	 	</selectKey>
		INSERT INTO shez_contracts 
		    (contract_id, customer_id, insured_id, product_id, contract_coverage,
		    reg_date, expired_date, premium_amount, payment_cycle, contract_status, admin_idx )
		VALUES 
		    (#{contractId},#{customerId},#{insuredId},#{productId},#{contractCoverage},
		    #{regDate}, #{expiredDate},#{premiumAmount},#{paymentCycle},#{contractStatus},#{adminId})
	</insert>
	
	<!-- 계약 수정 -->
	<update id="updateContract">
		UPDATE shez_contracts SET 
		    contract_coverage = #{contractCoverage}, expired_date = #{expiredDate}, premium_amount = #{premiumAmount}, 
		    payment_cycle = #{paymentCycle}, contract_status = #{contractStatus}, admin_idx = #{adminIdx}
		WHERE contract_id = #{contractId}
	</update>
	
	<!-- 자동완성 -->
	<!-- 계약자, 피보험자 -->
	<select id="searchCustomerByName" resultType="com.shinhanez.admin.domain.Customer">
		SELECT customerId, name
		FROM (
		    SELECT 
		        customer_id AS customerId,
		        name AS name
		    FROM shez_customers
		<where>
			<if test="customerName != null and customerName != ''">
			    LOWER(name) LIKE '%' || LOWER(#{customerName}) || '%'
			</if>    
		</where>
		    ORDER BY name
		)
		WHERE ROWNUM <![CDATA[<= ]]>50
	</select>
	<!-- 상품 -->
	<select id="searchInsuranceByName" resultType="com.shinhanez.admin.domain.Insurance">
		SELECT productNo, productName, coverageRange
		FROM (
		    SELECT 
		        productno AS productNo,
		        productname AS productName,
		        coveragerange AS coverageRange
		    FROM shez_insurances
	    <where>
			<if test="productName != null and productName != ''">
			    LOWER(productName) LIKE '%' || LOWER(#{productName}) || '%'
			</if>
		</where>
		    ORDER BY productName
		)
		WHERE ROWNUM <![CDATA[<=]]> 50
	</select>
	<!-- 관리자 -->
	<select id="searchAdminsByName" resultType="com.shinhanez.admin.domain.Admins">
		SELECT adminIdx, adminName, adminRole
		FROM (
		    SELECT 
		        admin_idx AS adminIdx,
		        admin_name AS adminName,
		        admin_role AS adminRole
		    FROM shez_admins
	    <where>
			<if test="adminName != null and adminName != ''">
			    LOWER(admin_name) LIKE '%' || LOWER(#{adminName}) || '%'
			</if>
		</where>
		    ORDER BY adminName
		)
		WHERE ROWNUM <![CDATA[<=]]> 50
	</select>
</mapper>