<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhanez.admin.mapper.InsuranceMapper">
	
	<!--전체 목록  -->
	<select id="allGet" resultType="com.shinhanez.admin.domain.Insurance">
		select * from SHEZ_INSURANCES order by productNo desc
	</select>
	
	<!--전체 목록  -->
	<select id="allGet2" parameterType="String" resultType="com.shinhanez.admin.domain.Insurance">
		select * from SHEZ_INSURANCES where STATUS=#{status} order by productNo desc
	</select>
	
	
	
	
	
	<sql id="searchCriteria">
        <where>
            <if test="status != null and status != '' and status != 'all'">
                AND status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                AND product_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </sql>

    <select id="selectInsuranceList" resultType="com.shinhanez.admin.domain.Insurance">
        SELECT *
        FROM insurance
        <include refid="searchCriteria" />
        ORDER BY product_no DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countInsurance" resultType="int">
        SELECT COUNT(*)
        FROM insurance
        <include refid="searchCriteria" />
    </select>
	
	
      
	
	
	
	
	
	
	<!--상품 상세, 수정 페이지 포함  -->
	<select id="get" parameterType="Long" resultType="com.shinhanez.admin.domain.Insurance">
		select * from SHEZ_INSURANCES where productNo=#{productNo}
	</select>
	
	<!-- 상품 추가 -->
	<insert id="insert" parameterType="com.shinhanez.admin.domain.Insurance">
        INSERT INTO SHEZ_INSURANCES (
            PRODUCTNO,
            PRODUCTNAME,
            CATEGORY,
            BASEPREMIUM,
            COVERAGERANGE,
            COVERAGEPERIOD,
            STATUS,
            CREATEDDATE,
            UPDATEDDATE,
            CREATEDUSER,
            UPDATEDUSER
        ) VALUES (
            seq_shezInsuraces.NEXTVAL,
            #{productName},
            #{category},
            #{basePremium},
            #{coverageRange},
            #{coveragePeriod},
            #{status},
            SYSDATE,
            SYSDATE,
            #{createdUser},
            #{updatedUser}
        )
    </insert>
    
    <!-- 상품 수정 페이지-->
    <update id="update" parameterType="com.shinhanez.admin.domain.Insurance">
    	update SHEZ_INSURANCES set PRODUCTNAME=#{productName}, 
    								CATEGORY=#{category},
    								BASEPREMIUM=#{basePremium},
    								COVERAGERANGE=#{coverageRange},
    								COVERAGEPERIOD=#{coveragePeriod},
    								STATUS=#{status},
    								UPDATEDUSER=#{updatedUser},
    								UPDATEDDATE=SYSDATE
    								where PRODUCTNO= #{productNo}
    
    </update>
	
    
    
    
    
	

    

</mapper>
