<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhanez.admin.mapper.PaymentDetaiMapper">
	<!-- 고객별 납입여부 내역 (완납, 미납)-->
	<select id="paymentDetails" resultType="com.shinhanez.admin.domain.PaymentDetailDTO">
	SELECT 
		C.customer_id       AS "customerId",
	    CU.NAME             AS "name",
	    C.contract_id       AS "contractId",
	    C.product_id        AS "productId",
	    C.payment_cycle     AS "paymentCycle",
	    C.premium_amount    AS "premiumAmount",
	    P.payment_date      AS "paymentDate",
	    P.due_date          AS "dueDate",
	    NVL(P.amount, 0)    AS "amount",
	    P.method            AS "method",
	    CASE 
	        WHEN P.status = 'PAID'    THEN '완납'
	        WHEN P.status = 'OVERDUE' THEN '연체(미납)'
	        WHEN P.status = 'PENDING' THEN '대기(미납)'
	        ELSE '상태미상'
	    END AS "status"
	FROM 
	    shez_contracts C
	JOIN 
	    shez_payments P ON C.contract_id = P.contract_id
	JOIN    
	    shez_customers CU ON CU.customer_id = C.customer_id
	
	ORDER BY 
	    C.customer_id ASC, 
	    P.due_date DESC
	</select>
	
	
</mapper>