@charset "utf-8";

#content .social section {
  margin-top: 8rem;
}

#content .social section:first-child {
  margin-top: 0;
}

#content .social section h2 {
  color: #12192b;
  font-size: 3.2rem;
  line-height: 1.4;
  font-weight: 600;
}

#content .social section p {
  color: #313749;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  line-height: 1.7;
}

#content .social .green {
  color: #8ac200;
  font-weight: 700;
}

#content .social .orange {
  color: #ff9e01;
  font-weight: 700;
}

#content .social .skyblue {
  color: #49b0f5;
  font-weight: 700;
}

#content .social section:nth-of-type(2) h2 {
  color: #0036c6;
}

#content .social .line-box-wrap {
  display: flex;
  gap: 20px;
  margin-top: 2.4rem;
}

#content .social .line-box {
  flex: 1;
  min-width: 28rem;
  padding: 3rem 2rem;
  border: 1px solid #dbdee5;
  border-radius: 1.6rem;
  text-align: center;
}

#content .social .line-box img {
  margin-bottom: 1.5rem;
}

#content .social .line-box h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#content .social .line-box span {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666;
}

#content .social .pic-list {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

#content .social .pic-list>li {
  flex: 1;
}

#content .social .pic-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
}

#content .social .pic-half {
  display: flex;
  gap: 2.4rem;
}

#content .social .pic-half img {
  width: calc(50% - 1.2rem);
}

@media (max-width: 1024px) {
  #content .social section {
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  #content .social section {
    margin-top: 5rem;
  }

  #content .social .line-box-wrap,
  #content .social .pic-list {
    flex-direction: column;
  }

  #content .social section h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 520px) {
  #content .social section {
    margin-top: 4rem;
  }

  #content .social .pic-half {
    gap: 1.6rem;
  }

  #content .social .pic-half img {
    width: calc(50% - 0.8rem);
  }
  #content .social strong{
    display: block;
  }
}